/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

::selection {
	background-color: #5b50b9; /* The highlight color */
	color: white;            /* The text color */
}

::-moz-selection {
	background-color: #5b50b9; /* The highlight color for Firefox */
	color: white;            /* The text color for Firefox */
}

body {
	background: #fff;
	color: #333;
	padding: 30px;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

/* Container */
.container {
	max-width: 900px;
	margin: auto;
}

/* Card style (clients / appointments) */
.appointment,
.contact {
	background: rgb(211, 214, 241);
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Titles */
.appointment h2,
.contact h2 {
	color: #2c3e50;
	margin-bottom: 10px;
}

/* Text */
.appointment p,
.contact p {
	margin-bottom: 8px;
	line-height: 1.5;
}

/* Links */
a {
	color: #3498db;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Buttons */
button {
	background: #e74c3c;
	color: white;
	border: none;
	padding: 8px 14px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 600;
}

button:hover {
	background: #c0392b;
}

/* WhatsApp link */
.contact a[href*="wa.me"] {
	color: #25d366;
	font-weight: 600;
}

nav {
	display: flex;
	gap: .8rem;
}

header {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.nav-wrapper {
	margin-bottom: 1.5rem;
}

.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.user-section {
	display: block;
}

@media screen and (min-width: 580px) {
	.nav-wrapper {
		display: flex; 
		gap: 2rem;
	}
	.logout-button {
		margin-bottom: 0;
	}
	header {
		justify-content: space-between; 
		flex-direction: row;
	}
	.user-section {
		display: flex; justify-content: space-between; align-items: center;
	}
	.nav-container {
		text-align: left;
	}
}

	.logout-button {
		width: 80px;
	}

	.input-info {
		background: lightcoral;
		border-radius: 6px;
		border: 1px solid chocolate;
		padding: 20px;
		color: white;
		margin-top: 1.2rem;
	}

/* Form inputs */
input,
select,
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 14px;
}
textarea {
	resize: vertical;
	min-height: 100px;
}

/* Submit button */
input[type="submit"] {
	background: #2ecc71;
	color: white;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #27ae60;
}
